@page "/Enemigos"
@rendermode InteractiveServer
@inherits EnemigosBase

<PageTitle>Lista de enemigos</PageTitle>

<main id="main-content">


<h1>Esta es una página para listar todos los enemigos</h1>

@if (lstEnemigo == null)
{
    <p><em>Loading...</em></p>
}
else
{
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Nivel de amenaza</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
            @foreach (var tipo in lstEnemigo)
            {


                <tr>
                    <td>@tipo.Id</td>
                    <td>@tipo.Nombre</td>
                    <td>@tipo.Nivel_Amenaza</td>
                    <td><button @onclick="(() => Update(tipo))">Modificar</button></td>
                    <td><button @onclick="(() => Delete(tipo))"> Eliminar</button></td>
                    <td><button @onclick="(() => Read(tipo))"> Leer</button></td>
                </tr>
            }
                </tbody>
            </table>
}
<button @onclick="Create" >Crear</button>

@if(ShowForm){
    <Enemigo ActualizarLista="@GetAll" enemigo="@enemigo"></Enemigo>
}

<button class="btn btn-primary" @onclick="() => ModalDialog.Open()">Click me!</button>
<Tarea_asp.Components.Shared.Modal @ref="@ModalDialog" Title="Prueba">
    <div class="row">
        <Enemigo ActualizarLista="@GetAll" enemigo="@enemigo"></Enemigo>
        <button class="btn btn-primary" @onclick="() => ModalDialog.Close()">Close</button>
    </div>
</Tarea_asp.Components.Shared.Modal>

</main>